---
export const prerender = true;

import MainLayout from '@/layouts/main-layout.astro';
import Prose from '@/components/layout/prose.astro';

import { Badge } from '@/components/ui/badge';
import { getCollection } from 'astro:content';
import type { ReactElement, JSXElementConstructor, ReactNode, ReactPortal } from 'react';
import { buttonVariants } from '@/components/ui/button';
import { cn } from '@/lib/utils';
import Icon from 'astro-icon';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const allMembers = await getCollection('members');
  return allMembers.map(member => ({
    params: { slug: member.slug }, props: { member },
  }));
}
// 2. For your template, you can get the member directly from the prop
const { member } = Astro.props;
const { Content } = await member.render();
---

<MainLayout
  title="Members"
  description="APDI Members"
  mainClass="min-h-screen container max-w-screen-md py-10"
>
<section>
  <a
      href="/member"
      class={cn(
        buttonVariants({ variant: "ghost" }),
        "text-muted-foreground"
      )}
      transition:animate="slide"
    >
      <Icon name="lucide:chevron-left" class="mr-2 size-4" />
       Semua anggota
  </a>
</section>

  <section>
    <div class="space-y-6 text-center mb-14">
      <h1 class="font-heading text-4xl text-center">
        {member.data.name}
      </h1>
      <p class="text-muted-foreground text-md">
        {member.data.title}
      </p>
      <h2 class="font-heading text-center text-2xl text-blue-500">{member.data.founder ? "Pendiri" : "Anggota"} APDI</h2>
      {member.data.apdi && <h2 class="font-heading text-center text-2xl text-rose-500">{member.data.apdi}</h2>}
      <img src={member.data.photo.url} alt={member.data.photo.alt} class="rounded-md mx-auto h-80 shadow-2xl shadow-indigo-500/50" />
    </div>
  </section>
  <section class="my-4">
    {member.data.skills.map((skill: string) => <Badge variant="outline" className='rounded-xl mx-2 my-1 px-4 italic'>{skill}</Badge>)}
  </section>
  <section>
    <Prose>
      <Content />
    </Prose>
  </section>
  
  <div class="flex flex-row justify-between my-4">
    <p>DLA tahun: <span class="font-semibold">{member.data.dla}</span></p>
    <p>Stream: <span class="font-semibold">{member.data.stream}</span></p>
  </div>
  <div class="flex items-center justify-center p-3 space-x-3 border-t-2 border-slate-400 mt-4">
    <!-- Email -->
    <a rel="noopener noreferrer" href=`mailto:${member.data.email}` title="Email" class="hover:text-blue-400 dark:text-slate-200 hover:dark:text-blue-400">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
      </svg>
    </a>
    <!-- LinkedIn -->
    <a rel="noopener noreferrer" href={member.data.linkedin} title="LinkedIn" class="hover:text-blue-400 dark:text-slate-200 hover:dark:text-blue-400">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32" class="w-5 h-5">
        <path d="M8.268 28h-5.805v-18.694h5.805zM5.362 6.756c-1.856 0-3.362-1.538-3.362-3.394s1.505-3.362 3.362-3.362 3.362 1.505 3.362 3.362c0 1.856-1.506 3.394-3.362 3.394zM29.994 28h-5.792v-9.1c0-2.169-0.044-4.95-3.018-4.95-3.018 0-3.481 2.356-3.481 4.794v9.256h-5.799v-18.694h5.567v2.55h0.081c0.775-1.469 2.668-3.019 5.492-3.019 5.875 0 6.955 3.869 6.955 8.894v10.269z"></path>
      </svg>
    </a>
    <!-- Twitter -->
    {member.data.twitter && <a rel="noopener noreferrer" href={member.data.twitter} title="Twitter" class="hover:text-blue-400 dark:text-slate-200 hover:dark:text-blue-400">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="currentColor" class="w-5 h-5">
        <path d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z"></path>
      </svg>
    </a>}
    <!-- Instagram -->
    {member.data.instagram && <a rel="noopener noreferrer" href={member.data.instagram} title="Instagram" class="hover:text-blue-400 dark:text-slate-200 hover:dark:text-blue-400">
      <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor">
        <rect x="0" fill="none" width="32" height="32"/>
        <g>
          <path d="M12.7 10c0-1.5-1.2-2.7-2.7-2.7S7.3 8.5 7.3 10s1.2 2.7 2.7 2.7c1.5 0 2.7-1.2 2.7-2.7zm1.4 0c0 2.3-1.8 4.1-4.1 4.1S5.9 12.3 5.9 10 7.7 5.9 10 5.9s4.1 1.8 4.1 4.1zm1.1-4.3c0 .6-.4 1-1 1s-1-.4-1-1 .4-1 1-1 1 .5 1 1zM10 3.4c-1.2 0-3.7-.1-4.7.3-.7.3-1.3.9-1.5 1.6-.4 1-.3 3.5-.3 4.7s-.1 3.7.3 4.7c.2.7.8 1.3 1.5 1.5 1 .4 3.6.3 4.7.3s3.7.1 4.7-.3c.7-.3 1.2-.8 1.5-1.5.4-1.1.3-3.6.3-4.7s.1-3.7-.3-4.7c-.2-.7-.8-1.3-1.5-1.5-1-.5-3.5-.4-4.7-.4zm8 6.6v3.3c0 1.2-.4 2.4-1.3 3.4-.9.9-2.1 1.3-3.4 1.3H6.7c-1.2 0-2.4-.4-3.4-1.3-.8-.9-1.3-2.1-1.3-3.4V10 6.7c0-1.3.5-2.5 1.3-3.4C4.3 2.5 5.5 2 6.7 2h6.6c1.2 0 2.4.4 3.4 1.3.8.9 1.3 2.1 1.3 3.4V10z"/>
        </g>
      </svg>
    </a>}
    <!-- Facebook icon -->
    {member.data.facebook && <a rel="noopener noreferrer" href={member.data.facebook} title="Facebook" class="hover:text-blue-400 dark:text-gray-900 hover:dark:text-blue-400">
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="20" height="20" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        class="lucide lucide-facebook">
          <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/>
      </svg>
    </a>}
  </div>
</MainLayout>


